{% extends 'pages/home_base.html' %}
{% block content %}
   <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-12" role="main">
              <div class="bs-docs-section">
                    <h1 id="overview" class="page-header">LOG IN</h1>
                  <section>
                    <form action="#" id="login" method="POST">
                    <div id="login-main" style="margin-top:0px;" class="login_shake">
                        <h1>Dear Valued Customer</h1>
                            <p>Welcome back! Thank you for continuing to rely on us for your healthcare needs. We are committed to 100% customer satisfaction and we will do everything possible to make sure you are always satisfied with your purchase and our service.</p>
                            <div class="clear"></div>
{#                            <div class="securetrans pull-left">Secure Transaction</div>#}
                            <div class="clear1"></div>
                            <div class="login_arrow expandable loginopenheadernew">Enter Your Credentials</div>
                            <div class="checkout_panel" id="ordvalret" style="margin-bottom:0px;">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="clear_h"></div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="login_name">Your Username/E-mail ID *</label>
                                                <input type="text" id="inputUsername" name="login_name" maxlength="50" class="form-control field-required" tabindex="1"><br>
                                                <span style="font-size:11px; color:#000; ">
                                                    Your WeMed Username is the same as your E-mail ID
                                                </span><br>
                                                <span class="login-box-forgot"><a href="#" data-fancybox-type="iframe" class="trkclick1" title="Retrieve Your Password">Forgot Your Password?</a></span>

                                            </div>
                                            <div id="login-err-msg" style="color: red ; font-size: medium"></div>
                                        </div>
                                        <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="inputPassword">Enter Your Password *</label>
                                                    <input name="login_password" type="password" id="inputPassword" maxlength="50" class="form-control field-required" tabindex="2">
                                                </div>
                                                <div class="form-group" style="margin-bottom:10px !important">
                                                    <div class="wall-txt">
                                                        <input name="chk_user" type="checkbox" id="chk_user">
                                                        <label for="chk_user" class="login-box-remem"><span></span>Remember me on this computer!</label>
                                                    </div>
                                                            <button type="submit" id="lsignin" class="btn btn-primary btn-form-submit">Sign in</button>
{#                                                        <button type="submit" id="lsignin" class="btn btn-default chkout-btn field-required" title="Click here to Login" tabindex="3">Continue</button>#}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="login_arrow expandable signup"  url= "{% url 'signup_customer'  %}">New Customer? Create Your Account</div>
                      </div>
                        </form>
                  </section>
                </div>
            </div>
        </div>
   </div>
    <script type="text/javascript">
        $(document).ready(function(){
        $('form#login').submit(function(e) {
              e.preventDefault();
        username = $('#inputUsername').val();
        if (username == '') {
            $('#login-err-msg').text('Username is required');
            return false;
        }
        password = $('#inputPassword').val();
        if (password == '') {
            $('#login-err-msg').text('Password. is required');
            return false;
        }

        $('#lsignin').attr('disabled', 'disabled');
        $.ajax({
            url: "/login/",
            method: 'POST',
            data: {
                username: $('#inputUsername').val(),
                password: $('#inputPassword').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (result) {
                console.log(result)

                $('#login-err-msg').text(result.Error)
                $('#lsignin').removeAttr('disabled');
                $("#login-err-msg").delay(3200).fadeOut(6000);
                $('#inputUsername').val('');
                $('#inputPassword').val('');
            }

        });
    });
            $("div.signup").click(
            function()
            {
                window.location = $(this).attr("url");
                return false;
            });

});

</script>
{% endblock %}