{% extends 'pages/home_base.html' %}

{% block content %}
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-12" role="main">
              <div class="bs-docs-section">
                    <h1 id="overview" class="page-header">Enter Your Business Details</h1>
                  <section>
                    <form id="pharmacy_info" action="{% url 'merchant_info' %}" method="post"> {% csrf_token %}
                        <div id="login-main" style="margin-top:0px;" class="login_shake">
                            <h1>Dear Business Partener</h1>
                                <p>Please give your business details carefully. In case of any issue please let us know.</p>
                                    <div class="clear"></div>
                                    <div class="clear1"></div>
                                <div class="checkout_panel" id="ordvalret" style="margin-bottom:0px;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="clear_h"></div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="phName">Enter Your Business Name *</label>
                                                    {{ form.errors }}
                                                    {{ form.mer_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="web">Website(If Any)</label>
                                                    {{ form.mer_website }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="logo">Business Logo (If Any)</label>
                                                    {{ form.logo }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="phone">Phone Number *</label>
                                                    {{ form.phoneno }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="phType">Business Type</label>
                                                    {{ form.merchant_type }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="col-sm-2 col-sm-offset-6">
                                                <div class="form-group">
                                                    <label for="desc"> Description</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-sm-offset-3">
                                                <div class="form-group">
                                                    {{ form.description }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="lsignin" class="btn btn-primary center-block btn-form-submit">Continue For Next</button>
                                    </div>
                                </div>
                                <div class="clear"></div>
                        </div>
                    </form>
                  </section>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

