{% extends 'pages/home_base.html' %}

{% block content %}
        <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-12" role="main">
              <div class="bs-docs-section">
                    <h1 id="overview" class="page-header">Enter Your Details</h1>
                  <section>
                    <form id="manager_info" action="{% url 'manager_info' %}" method="post"> {% csrf_token %}
                        <div id="login-main" style="margin-top:0px;" class="login_shake">
                            <h1>Dear Manager</h1>
                                <p>Please give your details carefully. In case of any issue please let us know.</p>
                                    <div class="clear"></div>
                                    <div class="clear1"></div>
                                <div class="checkout_panel" id="ordvalret" style="margin-bottom:0px;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="clear_h"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="fName">First Name*</label>
                                                        {{ form.errors }}
                                                        {{ form.first_name }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="lName">Last Name*</label>
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="gender">Gender</label>
                                                    {{ form.gender }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="photo">Upload Your Image </label>
                                                    {{ form.photo }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="col-sm-3 col-sm-offset-6">
                                                <div class="form-group">
                                                    <label for="desc"> Mobile Number</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-7 col-sm-offset-4">
                                                <div class="form-group">
                                                    {{ form.mobile }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="lsignin" class="btn btn-primary center-block btn-form-submit">Continue For Next</button>
                                    </div>
                                </div>
                                <div class="clear"></div>
                        </div>
                    </form>
                  </section>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

