{% extends 'pages/home_base.html' %}

{% block content %}
               <div class="container banner1">
            <div class="row no-margin">
                <!-- Banner Left Box Starts -->
                <div class="col-lg-8 col-md-6 col-md-10 col-md-offset-2 col-md-offset-2 col-md-offset-3 custom-thumbnail login">
                    <div class="row no-margin">
                        <div class="col-md-12 col-md-12 right-border">
                            <div class="row no-margin">
                            	<div class="col-md-12 text-center"><span class="h2 text-uppercase"><b>Contact Details</b></span></div>
                                <div class="alert alert-danger form-alert" style="display: none">
                                        <div id="alert"></div>
                                    </div>

                            </div><!-- /.rw -->
                            <div class="col-md-12">
                            <form class="form-horizontal" id="manager_info" action="{% url 'mer_contact_info' %}" method="post" style="margin-top: 20px;"> {% csrf_token %}
                              <div class="form-group">
                                <label class="col-md-3 control-label" for="phName">Shop No.</label>
                                <div class="col-md-9">
                                    {{ form.errors }}
                                    {{ form.address1 }}
{#                                    <input type="text" id=inputUsername name="login_name" placeholder="Enter your registered shop name" class="form-control"/>#}
                                </div>
                              </div>

                                <div class="form-group">
                                <label class="col-md-3 control-label" for="web">Locality</label>
                                <div class="col-md-9">
                                    {{ form.errors }}
                                    {{ form.address2 }}
{#                                    <input type="text" id=inputUsername name="login_name" placeholder="Enter your registered shop name" class="form-control"/>#}
                                </div>
                              </div>
                                <div class="form-group">
                                <label class="col-md-3 control-label" for="phone">City</label>
                                <div class="col-md-9">
                                    {{ form.errors }}
                                    {{ form.city }}
{#                                    <input type="text" id=inputUsername name="login_name" placeholder="Enter your registered shop name" class="form-control"/>#}
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="phType" class="col-md-3 control-label">Place</label>
                                <div class="col-md-9">
                                    {{ form.errors }}
                                    {{ form.place }}
{#                                  <input type="password" class="form-control" id="inputPassword" name="login_password" placeholder="Password">#}
                                </div>
                              </div>
                              <div class = "form-group">
                                  <label for="logo" class="col-md-3 control-label">State</label>
                                <div class="col-md-9">
                                    {{ form.errors }}
                                    {{ form.state }}
{#                                  <input type="password" class="form-control" id="inputPassword" name="login_password" placeholder="Password">#}
                                </div>
                              </div>
                                <div class = "form-group">
                                  <label for="logo" class="col-md-3 control-label">Pincode</label>
                                <div class="col-md-9">
                                    {{ form.errors }}
                                    {{ form.pincode }}
{#                                  <input type="password" class="form-control" id="inputPassword" name="login_password" placeholder="Password">#}
                                </div>
                              </div>
                                      <div class="form-group">

                                  <button type="submit" id="lsignin" class="btn btn-primary center-block btn-form-submit">Next</button>

                              </div>
                            </form>
                            </div>





                        </div><!-- 8x8 -->

                    </div><!-- /.row custm thmbnl -->
                </div><!-- /.lg12x12 -->
                <!-- Banner Left Box Ends -->

            </div>
        </div>


{% endblock %}

