{% extends 'pages/home_base.html' %}
{% block content %}
<div class="row">
    <div class="row col-md-12 page-header">
             <div class="col-md-offset-5">
             <div class="col-md-2">
             <input class="radio-input" type="radio" name="test" value="ph" checked="checked"/>
                 <label class="radio-label">Pharmacy</label>

             </div>
                 <div class="col-md-2">
             <input class="radio-input" type="radio" name="test" value="md"/>
                 <label class="radio-label">Medicine</label>
             </div>
             </div>
     </div>

</div>
{% endblock content %}

