{% extends 'pages/home_base.html' %}
{% block content %}
    	<div class="banner">
		<div class="container">
			<div class="span_1_of_1">
				<fieldset>
					<div class"radioset">
            			<input class="radio-input" type="radio" name="product-selection" value="Pharmacy" />
            			<label class="radio-label">Pharmacy Shops</label>
            			<input class="radio-input" type="radio" name="product-selection" value="Medicines" />
            			<label class="radio-label">Medicines</label>
            		</div>
            	</fieldset>
				<h2>Discover local medical shops near You <br> that deliver to your doorstep</h2>
			    
<fieldset>
    <div class="dropdown">
      <select name="one" class="dropdown-select">
        <option value="">State</option>
        <option value="1">Option #1</option>
        <option value="2">Option #2</option>
        <option value="3">Option #3</option>
      </select>
    </div>
    <div class="dropdown">
      <select name="two" class="dropdown-select">
        <option value="">City</option>
        <option value="1">Option #1</option>
        <option value="2">Option #2</option>
        <option value="3">Option #3</option>
      </select>
      </div>
      <div class="dropdown">
      <select name="three" class="dropdown-select">
        <option value="">Landmark</option>
        <option value="1">Option #1</option>
        <option value="2">Option #2</option>
        <option value="3">Option #3</option>
      </select>
      </div>
      <br>
      <input type="submit" value="Submit" style="width: 200px; height: 45px; " />
</fieldset>
 

			</div>
		</div>
	</div>
	<div class="grid_1">


				<h3>Something More Here</h3>

			<div class="col-md-9 col_5">
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
			            <li><a href="#">MedStart</a></li>
		            </ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"> </div>
		</div>


{#    <!--quick find-->#}
{#    {% include 'pages/quick_find.html' %}#}
{##}
{#    <!-- Statistics -->#}
{#    {% include 'pages/statistics-data.html' %}#}
{##}
{#    <!--How we do it-->#}
{#    {% include 'pages/howwedoit.html' %}#}
{##}
{#    <!-- Why US -->#}
{#    {% include 'pages/why_us.html' %}#}
{##}
{#    <!--Testomonail-->#}
{#    {% include 'pages/testimonial.html' %}#}
{##}
{#    <!--As seen on-->#}
{#    {% include 'pages/as_seen_on.html' %}#}
{#    #}
{#    #}
{#    <!--<script src="{% static 'assets/new-dashboard/js/jquery.scrollTo.min.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.cookie.js' %}"></script>-->#}
{% endblock content %} 

