<div class="blog-masthead">
      <div class="container">
       <div class="blog-navbar-brand">
           <a href="{% url 'index' %}"><img src="/static/assets/images/logonew.gif" width="150" style="margin: -20px"></a>
{#			 style="color: #ffffff">WeMed</a>#}
		 </div>
        <nav class="blog-nav blog-navbar-right">
          <a class="blog-nav-item " href="{% url 'index' %}">Home</a>
          <a class="blog-nav-item" href="#">About Us</a>
          <a class="blog-nav-item" href="#">Contact US</a>
          {% if user.is_anonymous == True %}
                    <a class="blog-nav-item" href="{% url 'signup_customer' %}">SignUp</a>
                    <a class="blog-nav-item" href="{% url 'login' %}">LogIn</a>
                    <a class="blog-nav-item" href="{% url 'signup_merchant' %}">For Business</a>
                {% endif %}
                {% if user.user_type == 'CST' or user.user_type == 'MER' %}
                   <a class="blog-nav-item" href="{% url 'logout' %}">Logout</a>
               {% endif %}

        </nav>
        </div>
      </div>

