
	<div class="header">
      <div class="container">
  	     <div class="logo">
			<h1><a href="#">Med Start</a></h1>
		 </div>
		 <div class="top_right">
		   <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                {% if user.is_anonymous == True %}
                    <li><a href="{% url 'signup_customer' %}">SignUp</a></li>
                    <li><a href="{% url 'login' %}">LogIn</a></li>
                    <li><a href="{% url 'signup_merchant' %}">For Business</a></li>
                {% endif %}
                {% if user.user_type == 'CST' or user.user_type == 'MER' %}
                   <li><a href="{% url 'logout' %}">Logout</a></li>
               {% endif %}
		   </ul>
	     </div>
		 <div class="clearfix"></div>
		</div>
	</div>







