<html>
<head></head>
<body>
<p> Hello! Welcome to WeMed. Just one last step! {{ message }} </p>
<p>Please confirm your e-mail address at "link gonna here" to activate your WeMed account.</p>




<p>
<a href="" style="color:rgb(66,139,202);text-decoration:none;background:transparent" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/dx1aO-UUBgWtz6dkq3xj4Bgnr6ZC58d5ZrvXpX2Td505aTkqEFJ_7khDCTlNNQZb0_IckUwgqASj8nqm0aBnPLTyFcYzzGBy=s0-d-e1-ft#http://htmlsig.com/images/icon-komodo/facebook.png" alt="Facebook" style="border:0px;vertical-align:middle" class="CToWUd"></a>

<a href="" style="color:rgb(66,139,202);text-decoration:none;background:transparent" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/akjH9qPrAf_s2v6vk3gQvLUt0bqlOrIhXzoRdi43ljozQc1pidmxl9Twi8qiEAvYTY47jpeX3dLM7tcV2bnKxOdrvRdBgYcuew=s0-d-e1-ft#http://htmlsig.com/images/icon-komodo/twitter-2.png" alt="Twitter" style="border:0px;vertical-align:middle" class="CToWUd"></a>

<a href="" style="color:rgb(66,139,202);text-decoration:none;background:transparent" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/-jhvcKDuTd04esGTDFnBTdQ2hFgQh-oUUiZOwn91eMWoPND2Tj6wJtR348u1tWmPAME7zf9yJSmrNs-hAhE9ZvgR4lUfISfEbRUS=s0-d-e1-ft#http://htmlsig.com/images/icon-komodo/google-plus.png" alt="Google Plus" style="border:0px;vertical-align:middle" class="CToWUd"></a>

<a href="" style="color:rgb(66,139,202);text-decoration:none;background:transparent" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/nVFfzp_wHlduYobNDbIuohMI27nnlDASgJuNFzu7cf8hN3J_3ZfIlEK9xfK-v_0VM-0eW8Z5lOBzXudBLGqowg0KpD4IqAOf=s0-d-e1-ft#http://htmlsig.com/images/icon-komodo/linkedin.png" alt="Linkedin" style="border:0px;vertical-align:middle" class="CToWUd"></a> | <a href = "" target="_blank"> www.wemed.com </a>
</p>
</body>
</html>